extends layout 

block content 
  h1= title
  p Aqui você irá encontrar o catalogo de livros disponíveis para emprestimo em nossa biblioteca.

  each livro in livros 
    div
      h2= livro.titulo
      p Autor: #{livro.autor}
      p Ano de Publicação: #{livro.ano}
      p Gênero: #{livro.genero}
      hr
  